<div class="row">
    <div class="col-12">

        <button type="button" onclick='location.href = "{{ path('specification_edit', {'id': specification.id}) }}";' role="button" class="btn btn-sm btn-primary float-left mr-2 mb-1"> {{ 'title.edit'|trans }}</button>
    </div>
</div>
