<div class='btn-group btn-group-sm'>
	{% if urlEdit %}
    	<a href='{{ urlEdit }}' class='btn btn-info' title="{{ 'title.edit'|trans }}"><i class='fas fa-edit'></i></a>
	{% endif %}
	{% if idDelete %}
    	<button type='button' class='btn btn-sm btn-danger float-left modal-delete-dialog' data-toggle='modal'
            data-id='{{ idDelete }}' title="{{ 'title.delete'|trans }}"><i class='fas fa-trash'></i></button>
	{% endif %}

</div>