<div class="row">
    <div class="col-12">

        <button type="button" onclick='location.href = "{{ path('production_plan_item_new', {'production_plan_id': productionPlan.id}) }}";' role="button" class="btn btn-sm btn-success float-left mr-2 mb-1">{{ 'title.add'|trans }}</button>
    </div>


</div>
