<div class="card-body">

    {{ form_row(form._token) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}

        {% if form.name.vars['errors']|length > 0 %}
            <ul class="list-unstyled">
                {% for error in form.name.vars['errors'] %}
                    <li class="text-danger small">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

</div>
<!-- /.card-body -->

