<div class="row">
    <div class="col-12">

        <button type="button" onclick='location.href = "{{ path('track_new', {'track_document_id': trackDocument.id}) }}";' role="button" class="btn btn-sm btn-success float-left mr-2 mb-1">{{ 'title.add'|trans }}</button>
    </div>


</div>
