<div class="row pt-2">
    <div class="col-12">
        <div class="form-group">
            <label for="date-input">План производства</label>
            <select class="form-control" id="production_plans"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% if is_granted("ROLE_ADMIN") %}
            <button type="button" class="btn btn-sm btn-default edit-group js-calculate-requirement-materials"><i
                        class='fa fa-asterisk'></i> {{ 'title.calculate'|trans }}</button>
        {% endif %}
    </div>
</div>