{% extends 'base.html.twig' %}

{% block title %}{{ 'title.page.index.material_requirement'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                {% if is_granted("ROLE_ADMIN") %}
                <div class="card-header">
                    {% include 'material/_controls_requirement.html.twig' %}
                </div>
                {% endif %}
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="materials-requirement" class="table table-bordered table-striped table-hover table-sm">
                        <thead>
                        <tr>
                            <th>amount</th>
                            <th>amountUnit</th>
                            <th>name</th>
                            <th>category</th>
                            <th>material</th>
                            <th>amountMaterial</th>
                            <th>amountUnitMaterial</th>
                            <th>nameKD</th>
                            <th>designationKD</th>
                            <th>renditionName</th>
                            <th>info</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>amount</th>
                            <th>amountUnit</th>
                            <th>name</th>
                            <th>category</th>
                            <th>material</th>
                            <th>amountMaterial</th>
                            <th>amountUnitMaterial</th>
                            <th>nameKD</th>
                            <th>designationKD</th>
                            <th>renditionName</th>
                            <th>info</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
                {% if is_granted("ROLE_ADMIN") %}
                <div class="card-footer">
                    {% include 'material/_controls_requirement.html.twig' %}
                </div>
                {% endif %}
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}


{% block javascripts %}
    <script>

        $(function () {

            let table = $("#materials-requirement").DataTable({
                "columns": [
                    {"data": "amount"},
                    {"data": "amountUnit"},
                    {"data": "name"},
                    {"data": "category"},
                    {"data": "material"},
                    {"data": "amountMaterial"},
                    {"data": "amountUnitMaterial"},
                    {"data": "nameKD"},
                    {"data": "designationKD"},
                    {"data": "renditionName"},
                    {"data": "info"},
                ],
                "stateSave": true,
                "processing": true,
                "responsive": true,
                "autoWidth": false,
                "paging": true,
                "info": true,
                "searching": true,
                "pageLength": 25,
                "language": {
                    "url": "{{ asset('dist/json/dataTables.ru.lang.json') }}"
                }
            });


            $(document).on('click','.js-calculate-requirement-materials',function(){

                console.log('hello');

                let url = "{{ path('materials_requirement_calculate') }}";

                $.ajax({
                    type: 'post',
                    url: url,
                    data: {'_method': 'post', '_token': '{{ csrf_token('calculate-requirement-materials') }}'},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);

                    table.clear();
                    table.rows.add( data.temp ).draw();


                });

            });

        });

    </script>
{% endblock %}